<div class="chart-container">
  <highcharts-chart
    *ngIf="chartOptions.series && chartOptions.series.length"
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [update]="updateFlag"
    [oneToOne]="true"
    [runOutsideAngular]="false"
    [key]="chartKey"
    style="width: 100%; height: 400px; display: block"
  ></highcharts-chart>

  <div
    *ngIf="!chartOptions.series || !chartOptions.series.length"
    class="no-chart-msg"
  >
    <h2>No chart selected</h2>
    <p>Please choose a chart type from the sidebar.</p>
  </div>
</div>
